<div class="fui-container footer">
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 footer-content">
                <div class="col-3 info-footer">
                    <img src="./assets/images/policy1.png" alt="">
                    <div>
                        <h1>giao hàng miễn phí</h1>
                        <span>Với đơn trên 300.000 đ</span>
                    </div>
                </div>
                <div class="col-3 info-footer">
                    <img src="./assets/images/policy2.png" alt="">
                    <div>
                        <h1>hỗ trợ 24/7</h1>
                        <span>Nhanh chóng thuận tiện</span>
                    </div>
                </div>
                <div class="col-3 info-footer">
                    <img src="./assets/images/policy3.png" alt="">
                    <div>
                        <h1>đổi trả 3 ngày</h1>
                        <span>Hấp dẫn chưa từng có</span>
                    </div>
                </div>
                <div class="col-3 info-footer">
                    <img src="./assets/images/policy4.png" alt="">
                    <div>
                        <h1>giá tiêu chuẩn </h1>
                        <span>Tiết kiệm 10% giá cả</span>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        
    </div>
</div>

<div class="fui-container">
    <div class="container">
        <div style="margin-top: 50px; padding-bottom: 50px;" class="row">
            <div class="col-1"></div>
            <div style="display: flex;" class="col-10">    
                <div class="col-4 footer-left">
                    <img src="./assets/images/logo.png" alt="">
                    <h2>Siêu thị nội thất DNMC</h2>
                    <span>
                        Trụ sở chính: Quận Bắc Từ Liêm, Hà Nội <br>
                        Hotline: 1900 6750 <br>
                        Email: support@sapo.vn
                    </span>
                </div>
                <div style="display: flex;" class="col-8">
                    <div class="col-4 footer-center">
                        <h2>Về chúng tôi</h2>
                        <ul class="menu-footer">
                            <li class="click-menu-footer">
                                <span></span>
                                <a routerLink="/"> Trang chủ</a>
                            </li>
                            <li class="click-menu-footer">
                                <span></span>
                                <a routerLink="/">Tin tức</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4 footer-center">
                        <h2>tin khuyến mãi</h2>
                        <ul class="menu-footer">
                            <li class="click-menu-footer">
                                <span></span>
                                <a routerLink="/">Trang chủ</a>
                            </li>
                            <li class="click-menu-footer">
                                <span></span>
                                <a routerLink="/">Tin tức</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4 footer-center footer-right">
                        <h2>Tổng đài hỗ trợ</h2>
                        <div class="footer-right-contact">
                            <img src="./assets/images/24-hours.svg" alt="">
                        </div>
                        <h2>Nhận tin khuyến mại</h2>
                        <form class="submit-email" action="">
                            <input class="email" type="email" placeholder="Nhập email...">
                            <input class="submit" type="submit" value="Đăng kí">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
