<div  class="fui-container">
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 login-form">
                <h3>Đăng nhập tài khoản</h3>
                <a href="#">
                    <img src="./assets/images/fb-btn.svg" alt="">
                </a>
                <a href="#">
                    <img src="./assets/images/gp-btn.svg" alt="">
                </a>
                <form action="" method="post" >
                    <input class="form-control login-form-control" type="email" name="username" placeholder="Email" required>
                    <input class="form-control login-form-control" type="password" name="password" placeholder="Mật khẩu" required>
                    <div class="sign-in">
                        <button type="submit" class="signin" name="btn_submit">Đăng nhập</button> 
                    </div>
                </form>
                <span style="background-color: #f7941d; color: aliceblue;">
                    Bạn chưa có tài khoản, vui lòng đăng ký <a routerLink="/register" routerLinkActive="active">tại đây</a>
                </span>

            </div>

            
            <div class="col-4"></div>

        </div>
    </div>
</div>