<div class="container" style="margin-bottom: 300px;">
    <h1 style="text-align: center; margin-top: 50px; color: #FF6600">Tất cả các trang quản trị quản lý</h1>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 list_login">
            <a routerLink="/category-manager" routerLinkActive="active">Đến trang quản trị danh mục</a>
            <a routerLink="/product-manager" routerLinkActive="active">Đến trang quản trị sản phẩm</a>
            <a routerLink="/user-management" routerLinkActive="active">Đến trang thông tin khách hàng</a>
        </div>
        <div class="col-3"></div>
    </div>
    
    
</div>